.main {
  width: 100%;
  padding: 0 5%;
  flex: 1;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

/* .aside,
.footer,
.header {
  display: none;
} */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
}

.slug_search_input {
  height: 49px;
  border-width: 8px !important;
  padding-left: 35px !important;
}
