@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work sans";
  src: url("../../public/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Work sans";
  src: url("../../public/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Work sans";
  src: url("../../public/fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}
:root {
}

* {
  font-family: "Work sans" !important;
}
