.StackCategories {
  display: grid;
  height: max-content;
  gap: 0 7rem;
  padding: 3rem 4rem;
  max-width: calc(
    (5rem + 7rem + 4rem) * 3
  ); /* max: 3 cols => (size-column + x-gap + x-padding) * 3*/
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
.StackCategories a {
  text-transform: lowercase;
}
.StackCategories a:first-letter {
  text-transform: uppercase;
}
