.ImageGallery {
  max-width: max-content;
  height: auto;
  display: flex;
  gap: 2rem;
}

.ImageGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ImageGallery picture {
  flex: 2;
}

.ImageGallery ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.ImageGallery li {
  position: relative;
}

.ImageGallery .ImageGallery__MoreImages li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #d9d9d980;
  backdrop-filter: blur(10px);
}

.ImageGallery .ImageGallery__MoreImages li:last-child::after {
  content: "+ Ver más fotos";
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  font-size: 1.2rem;
}

@media (width > 768px) {
}
